.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color:aqua;
}
body{
color:black;
}
div
{
background-color:palegoldenrod;
}
h1 {
	text-align: center;
}
html
{
background-color:midnightblue;
}
form {
background-color:gray;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

label {
background-color:red;
	display: block;
	margin-bottom: 10px;
}

select {
	margin-bottom: 20px;
}

button {
	margin-top: 20px;
}

#total-container {
	text-align: center;
	margin-top: 20px;
}

#total {
	font-weight: bold;
}
